@font-face {
    font-family: 'SansGeo';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/NotoSansGeorgian-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'SansGeo';
    font-style: normal;
    font-weight: 700;
    src: url(./assets/fonts/NotoSansGeorgian-Bold.woff2) format('woff2');
}

* {
    font-family: 'SansGeo', 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    background: var(--color-background);

    /* Height */
    --height-header: 60px;
    --min-height-footer: 60px;
    --min-height-main: calc(100vh - var(--height-header) - var(--min-height-footer));

    /* Width */
    --max-width-content: 1200px;
    --width-content: min(var(--max-width-content), calc(100vw - var(--space-24)));

    /* Color */
    --color-brand-0: rgba(0, 0, 0, 1);
    --color-background: #fff;

    --color-text-white-0: rgba(255, 255, 255, 1);
    --color-text-black-0: rgba(0, 0, 0, 1);

    /* Space */
    --space-2: 2px;
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-24: 24px;
    --space-28: 28px;

    /* Font Size */
    --font-size-24: 24px;
}
